<%- include('partials/header') %>
<body id="mainBody">
  <%- include('partials/navbar') %>
  <div class="container cont-home">
    <div class="text">
      <main class="site__main">
        <div>
          <h1>
            O melhor <br />
            site de perguntas <br />
            e respostas <br />
            que você <br />
            ja viu! <br />
          </h1>
        <a href="/home"><button class="btn button-main">Perguntas</button></a> 
        </div>
      </main>
    </div>
    <img src="/img/study2.png" id="study">
  </div>
</body>
<%- include('partials/footer') %>